{% if page_obj.has_other_pages %}

<div class="flex justify-center mt-8">

    <div class="flex gap-2">

        {% if page_obj.has_previous %}

            <a
                href="?page={{ page_obj.previous_page_number }}"
                class="px-4 py-2 bg-indigo-600 text-white rounded">

                Previous

            </a>

        {% endif %}

        <span
            class="px-4 py-2 bg-white rounded shadow">

            {{ page_obj.number }}

            /

            {{ page_obj.paginator.num_pages }}

        </span>

        {% if page_obj.has_next %}

            <a
                href="?page={{ page_obj.next_page_number }}"
                class="px-4 py-2 bg-indigo-600 text-white rounded">

                Next

            </a>

        {% endif %}

    </div>

</div>

{% endif %}