{% extends "base.html" %} {% load static %} {% block title %} Training Studio -
About Page{% endblock %} {% block content %}

<section id="features" class="bg-slate-100 py-30">
  <div class="mx-auto max-w-7xl px-6">
    <!-- Heading -->

    <div class="mx-auto mb-16 max-w-3xl text-center">
      <h2 class="text-4xl font-extrabold text-slate-900 md:text-5xl">
        Choose <span class="text-mist-500">Program</span>
      </h2>

      <img
        src="{% static 'images/line-dec.png' %}"
        class="mx-auto my-6"
        alt=""
      />

      <p class="text-lg leading-8 text-slate-600">
        Join world-class fitness programs designed by professional trainers to
        help you build strength, endurance, flexibility and confidence.
      </p>
    </div>

    <!-- Cards -->

    <div class="grid gap-8 lg:grid-cols-2">
      <!-- Card -->

      {% for item in program %}
      <div
        class="flex gap-5 rounded-2xl border border-slate-200 bg-white p-6 shadow-sm transition duration-300 hover:-translate-y-2 hover:border-mist-500 hover:shadow-xl"
      >
        <img
          src="{% static item.icon %}"
          class="h-20 w-20 rounded-xl bg-mist-50 p-3"
          alt=""
        />

        <div>
          <h3 class="mb-3 text-2xl font-bold text-slate-900">
            {{item.title}}
          </h3>

          <p class="leading-7 text-slate-600">
           {{item.description}}
          </p>

          <a
            href="#"
            class="mt-5 inline-flex font-semibold text-mist-500 transition hover:translate-x-2"
          >
            Discover More →
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
